# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist-ssr
coverage
*.local
.git
.husky

/cypress/videos/
/cypress/screenshots/
/coverage/**
*-lock.yaml
.husky/**

# Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# !.vscode/commitlint.config.cjs
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
*.stylelintcache
.stylelintcache
stylelintcache

test-results/
playwright-report/

.vitepress/cache
